* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-mario {
    height: 200px;
}

.contato {
    color: white;
    background-color: #C51111;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;

}
.contato:hover {
    color: #18D80F;
    font-size: 18px;
    width: 220px;
    height: 60px;
    transition: 0.5s ease-in-out;
}

.logo-mario-luigi {
    height: 500px;

}

body {
    height: 100vh;

}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;

}

.caixa-principal {
    width: 40%;

}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;


}

video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;

}

p {
    color: white;
    font-size: 20px;
}

.link-whatsapp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;

}

.header img {
    height: 60px;
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.header a {
    color: white;
    font-size: 24px;
    cursor: pointer;

}

.header a:hover {
    color: #C51111;
    font-size: 26px;
    transition: 0.5s ease-in-out;
}

.formulario-fale-conosco{
    background-color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -300px;
    padding: 20px;
    border-radius: 5px;

}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18D80F;

}

textarea {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18D80F;
}

.orçamento {
    color: white;
    background-color: #C51111;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 30px;
    
    
}

.orçamento:hover {
    color: #18D80F;
    transition: 0.5s ease-in-out;
}

.mascara-formulario {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);

}